* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 1rem 1rem 0;
    overflow: hidden;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-bar ul li a {
    color: black;
    margin: 10px;
    font-size: 12.5px;
}

#ul-left {
    float: left;
}
#ul-right {
    float: right;
}

#btn-sign-in {
    background-color: rgb(76, 129, 208);
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    width: 100%;
}

#logo img {
    position: relative;
    top: 30%;
}

#search-bar-icons {
    position: relative;
    left: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 7vh;
    border: 0.9px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

#search-bar {
    font-size: 1.6rem;
    width: 30vw;
    height: 6.5vh;
    border: none;
}

#search-bar:focus {
    outline: none;
}

#search-bar-icons img {
    margin: 4px;
}

#search-bar-icons:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#btn button {
    margin: 10px 15px 0;
    width: 180px;
    height: 40px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}

#paragraph1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: relative;
    top: 20vh;
    background-color: rgba(128, 128, 128, 0.1);
    height: 6rem;
    width: 100%;
    height: 150px;
}

#footer ul {
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-ul-left {
    float: left;
}
#footer-ul-right {
    float: right;
}

#footer-ul-left li a {
    margin-right: 30px;
}
#footer-ul-right li a {
    margin-left: 30px;
}

#footer ul li a {
    position: relative;
    top: 3vh;
    color: rgba(0, 0, 0, 0.3);
}


#paragraph2 {
    padding: 10px 0 15px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(189, 187, 187, 0.2);
    
}





















